/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

#wordInput {
  padding: 10px;
  font-size: 18px;
  width: 60%;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
}

#searchButton {
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #45a049;
}

#wordDetails {
  margin-top: 20px;
}

#wordImage {
  margin-top: 20px;
}

#errorMessage {
  margin-top: 20px;
  font-size: 18px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15%;
  background-color: #4CAF50;
  color:white;
}

button:hover {
  background-color: #ddd;
  color: black;
  transition: .7s;
}
