/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#optionsContainer {
  margin-top: 20px;
}

.optionButton {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.optionButton:hover {
  background-color: #bbb;
}

#resultsSection {
  display: block;
}

#motivationalImage {
  margin-top: 20px;
}
